# Sensitif / Konfigurasi Lokal
.env

# Virtual Environment Python
.venv/
venv/
ENV/

# Python Cache & Kompilasi
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# IDE / Editor Settings
.vscode/
.idea/
*.swp
*.swo
